.modal-wrapper {
  padding: 10px 0;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: .3s;

  &.active {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-container {
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 30px;
  border: 1px solid black;
  width: 80%;
  position: relative;
}

.half {
  width: 50%;
  border: 1px solid black;
  padding: 15px;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
}